

.border-bottom {
  position: relative;
  //margin-bottom: $base-spacing*2;
  &:after {
    content: '';
    border-bottom: $base-border;
    position: absolute;
    top: 0;
    left: 35%;
    right: 35%;
    bottom: 0;
  }
}
