#site-content{
  section {
    padding-top: $base-spacing*2;
    padding-bottom: $base-spacing*2;
  }
  .section-title {
    font-size: modular-scale(5);
    padding-bottom: $base-spacing;
    margin-top: $base-spacing*2;
    margin-bottom: $base-spacing*4;
    position: relative;
    text-align: center;
    &:after {
      content: '';
      border-bottom: 5px solid $tertiary-color;
      position: absolute;
      top: 0;
      left: 45%;
      right: 45%;
      bottom: 0;
    }
  }
}


#hero {
  //min-height: 100vh;
  background-repeat: no-repeat;
  background-size: 160% auto;
  background-position: 75% 0;

  background-color: $primary-color;
  display: flex;
  align-items: center;

  padding-top: 70vw!important;
  padding-bottom: $base-spacing*4!important;

  @include media($desktop-width) {

    background-size: cover;
    background-position: 75% 50%;

    padding-top: $base-spacing*6!important;
    padding-bottom: $base-spacing*4!important;
  }
  h3 {
    font-size: modular-scale(3);
    color: #FFFFFF;
    margin-bottom: $base-spacing;
  }
  p {
    font-size: modular-scale(1);
    font-weight: 300;
    line-height: 1.4;
    color: #FFFFFF;
    text-shadow: 0 0 15px rgba(0,0,0,1);
  }

  .content {
    //max-width: 80%;
    @include media($tablet-width) {
      //max-width: 80%;
      h3 {
        font-size: modular-scale(6);
      }
      p {
        font-size: modular-scale(1);
      }
    }
    @include media($desktop-width) {
      max-width: 45%;
    }
  }
}
#products {

  @include media($tablet-width) {
    .row {
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: normal;
      .col {
        flex-basis: 50%;
      }
    }
  }
  @include media($desktop-width) {
    .row {
      .col {
        flex-basis: 33.33%;
      }
    }
  }
  .row {
    .col {
      display: flex;
      margin-bottom: $base-spacing*2;
      .image {
        flex-basis: 25%;
      }
      .content {
        flex-basis: 75%;
        h4 {
          color: $tertiary-color;
          font-weight: 600;
        }
        h5 {
          font-weight: 600;
        }
        a {
          text-decoration: none;
          text-transform: uppercase;
          color: $secondary-color;
          font-weight: 600;
          &:after {
            font-family: 'FontAwesome';
            content: '\f054';
            margin-left: $small-spacing;
          }
        }
      }
    }
  }
}
#technology {
  text-align: center;
  @include media($tablet-width) {
    .row {
      flex-wrap: wrap;
      justify-content: center;
      align-items: normal;
      .col {
        flex-basis: 40%;
      }
    }
  }
  @include media($desktop-width) {
    .row {
      flex-wrap: wrap;
      justify-content: center;
      align-items: normal;
      .col {
        flex-basis: 30%;
      }
    }
  }
  .row {
    .col {
      margin-right: $small-spacing;
      margin-left: $small-spacing;
      margin-bottom: $base-spacing;
      background-color: #fff;
      padding: $base-spacing;
      box-shadow: 0 0 60px rgba(0,0,0,0.1);
      text-align: center;
      h4 {
        font-weight: 600;
      }
      .image {
        margin-bottom: $base-spacing;
      }
    }
  }
  .section-footer {
    padding-top: $base-spacing*2;
    padding-bottom: $base-spacing*2;
  }
}
#clients {
  @extend .border-bottom;
  h3 {
    text-align: center;
    text-transform: uppercase;
  }

  .list-inline {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    > li {
      flex-basis: 50%;
      text-align: center;
    }
    @include media($desktop-width) {
      > li {
        flex-basis: auto;
      }
    }
  }

}
#board-members {
  @extend .border-bottom;
  .col {
    text-align: center;
    .image {
      margin-bottom: $base-spacing;
    }
    h4 {
      font-size: modular-scale(1);
      font-weight: 600;
    }
    h5 {
      color: $tertiary-color;
      text-transform: uppercase;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      > li {
        &:before {
          font-family: 'FontAwesome';
          content: '\f054';
          color: $tertiary-color;
          padding-right: $small-spacing;
        }
      }
    }
  }
}
#team {
  @extend .border-bottom;
  .row {
    flex-wrap: wrap;
  }
  .col {
    flex-basis: 25%;
    text-align: center;
    margin-bottom: $base-spacing;
    .image {
      margin-bottom: $base-spacing;
    }
    h4 {
      font-size: modular-scale(1);
      font-weight: 600;
    }
    h5 {
      color: $tertiary-color;
      text-transform: uppercase;
      font-size: modular-scale(0)
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }
  .section-footer {
    text-align: center;
    padding-top: $base-spacing*2;
    padding-bottom: $base-spacing*2;
    position: relative;
    z-index: 500;
  }
}
#about {
  padding-top: $base-spacing*4!important;
  padding-bottom : $base-spacing*4!important;
  h3 {
    font-size: modular-scale(5);
    margin-bottom: $base-spacing*2;
  }

  @include media($tablet-width) {
    .row {
      align-items: center;
      .col {

      }
    }
  }
  @include media($desktop-width) {
    .row {
      .col {
        &:first-child {
          flex-basis: 40%;
        }
      }
    }
  }
}

#contact {
  background-color: $primary-color;
  .section-title {
    color: #FFFFFF;
    margin-bottom: $base-spacing;
  }
  .form {
    .btn {
      display: block;
      width: 100%;
    }
  }
  @include media($desktop-width) {
    .form {
      max-width: 50%;
      margin: 0 auto;
    }
  }
}
