#site-footer {
  padding-top: $base-spacing*2;
  padding-bottom: $base-spacing*2;
  background-color: $light-gray;
  #footer-brand {
    text-align: center;
  }
  #footer-menu {
    text-align: center;
    padding-top: $base-spacing;
    padding-bottom: $base-spacing;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      > li {
        @include media($desktop-width) {
          display: inline-block;
        }
        a {
          display: block;
          text-decoration: none;
          text-transform: uppercase;
          font-weight: 600;
          @include padding($small-spacing $base-spacing);
        }
      }
    }
  }
  .colophon {
    text-align: center;
  }
}
