#site-header {

  padding-top: $base-spacing;
  padding-bottom: $base-spacing;
  margin-bottom: $base-spacing;
  background-color: transparent;
transition: all $base-duration $base-timing;
  position: absolute;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  .toggle-menu{
    position: fixed;
    z-index: 1983;
    top: 5px;
    right: 5px;
    background-color: rgba(0,0,0,0.75);
    @include media($desktop-width) {
      display: none;
    }
  }
  #site-brand {
    img {
      max-height: 100vh;
      transition: all $base-duration $base-timing;
    }
  }
  #site-menu {
    position: fixed;
    z-index: 1982;
    top: 0;
    right: -320px;
    bottom: 0;
    transition: all $base-duration $base-timing;
    &.is-active {
      right: 0;
      max-height: 100vh;
      //border-top: $base-border;
      width: 320px;
      background-color: rgba(0,0,0,0.85);
    }
    @include media($desktop-width) {
      position: relative!important;
      background-color: transparent!important;
      top: auto;
      right: auto;
      bottom: auto;
      left: auto;
    }
    .menu{
      > li {
        > a {
          text-transform: uppercase;
          white-space: nowrap;
        }
      }
    }
  }


  // &.is-scrolled {
  //   position: fixed;
  //   z-index: 1982;
  //   top: 0;
  //   right: 0;
  //   bottom: auto;
  //   left: 0;
  //   width: 100%;
  //   padding-top: 0;
  //   padding-bottom: 0;
  //   background-color: rgba(0,0,0,0.95);
  //   #site-brand {
  //     img {
  //       max-height: 10vh;
  //     }
  //   }
  // }

  @include media($tablet-width) {
    .container {
      .row {
        align-items: center;
        .brand {
          flex-basis: 50%;
        }
        nav {
          flex-basis: 80%;
        }
      }
    }
  }
}
