.menu {
    overflow: hidden;
    transition: all $base-timing $base-duration;
    margin: 0;
    padding: 0;
    list-style: none;
    @include media($desktop-width) {
      display: table;
      > li {
        display: table-cell;
      }
    }
    > li {
        > a {
          display: block;
          color: $light-gray;
          text-decoration: none;
          @include padding($small-spacing $base-spacing);
          &:hover, &.active {
            background-color: $primary-color;
          }
        }
    }
}
